*.water filter=lfs diff=lfs merge=lfs -text
*.blast filter=lfs diff=lfs merge=lfs -text
*.cudasw filter=lfs diff=lfs merge=lfs -text
*.adept filter=lfs diff=lfs merge=lfs -text
*.ssw filter=lfs diff=lfs merge=lfs -text
*.swipe filter=lfs diff=lfs merge=lfs -text
*.adept_as filter=lfs diff=lfs merge=lfs -text
